include ../Components/Header
append styles
  style.
    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
    }
    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    #myInput:focus {outline: 3px solid #ddd;}
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown a:hover {background-color: #ddd;}
    .show {display: block;}
    @media print {
    body{
      width: 21cm;
      height: 29.7cm;
      margin: 30mm 45mm 30mm 45mm; 
      /* change the margins as you want them to be. */
      } 
    }
block content
  br
  .container
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=title
      .span
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm.text-white.m-1(onclick="deleteAllContent()")
        //-   i.fas.fa-sync-alt.fa-sm.text-white-50
        //-   |  نوێکردنەوە
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-warning.shadow-sm.text-white.m-1.edit
        //-   i.fas.fa-pen.fa-sm.text-white-50
        //-   |  دەسکاریکردن
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-success.shadow-sm.text-white.m-1(type='button' onclick="payNow()")
          i.fas.fa-recycle.fa-sm.text-white-50
          |  گەڕانەوە
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.text-white.m-1(type='button' onclick="Qard()")
        //-   i.fas.fa-money-bill-alt.fa-sm.text-white-50
        //-   |  قەرزکردن
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.m-1(type='button' data-toggle="modal" data-target="#confirm-payment")
        //-   i.fas.fa-wallet.fa-sm.text-white-50
        //-   |  دانەوەی پارە
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-secondary.shadow-sm.text-white.m-1(type='button' data-toggle='modal' onclick="printDiv('printableArea')")
          i.fas.fa-print.fa-sm.text-white-50
          |  چاپکردن
    .container(id="newRecord")
    .jumbotron
      .row
        .container-fluid.table-responsive
          table.table.table-striped

            tbody
              .row
                .form-group.col-md-3
                  label ناوی بەرهەم
                  input(name="itemName" class="form-control fstdropdown-select custom-selection" id="productName" onclick='myFunction()' onkeyup='filterFunction()')
                  .dropdown
                    #myDropdown.dropdown-content
                      each item,i in productNames
                        a(href="#" onclick="getModel(this,event);" title=item type='button' data-toggle="modal" data-target="#confirm-product"+i)=item
                .form-group.col-md-2
                  p(id="dataofIncome") 0
          .container-fluid(id="printableArea")
            .card.border(style="border: 5px solid #1794BA !important;" class="h-100")
              //- .card-header(style='background-color: black;')
              .card-body(id="targetedArea" style="background: url('https://i.ibb.co/HhnspzY/Invoice-UI.jpg'); background-size: 100% 280mm;")
                .p-4
                  .container
                    .row.col-12
                      .col-6
                        h2
                          strong تیتان سێرڤس
                        br
                        h6="ژمارەی تۆمار: "+invoiceID
                        h6="بۆ:"+profile[0]['companyName']+" /کاک  "+profile[0]['clientName']
                        h6="ژمارەی مۆبایل: "+profile[0]['phoneNumber']
                        h6="بار: "+"گەڕانەوە"
                        h6="لەلایان:"+user.username
                        h6=" ژمارەی مۆبایل ی کۆمپانیا:07504153878 // 7504964908"
                      .col-6
                        img#icon(src='https://i.ibb.co/9GPnfN5/titan-removebg-preview.png' width=300).mx-auto.d-block
                hr
                div
                  table(id="invoiceTable").table-bordered.table-xs.table-responsive.col-12
                    thead(style="font-size: 12px;font-weight:bold;text-align:center; background-color: #3f87a6;color: #fff;" )
                      tr
                        th(style="width:3%").center #
                        th(style="font-weight:bold;") ناوی بەرهەم
                        th(style="" colspan=2) جۆری بەرهەم
                        th(style="") ڕەنگ
                        th(style="width:7%") پێوانە
                        th(style="width:3%") ژمارە
                        th(style="width:10%").right نرخی تاک
                        th(style="").right کۆی گشتی
                        //- th(style="text-align:center; font-size:100%;font-weight:bold; width:3%")
                    tbody(id="dataOfInvoiceTable" style="font-size: 12px;font-weight:bold;text-align:center;")
                .row
                  .col-5.ml-auto
                    br
                    table.table.table-bordered.table-xs(id="totalPayment")
                      tbody
                        //- tr
                        //-   td.left
                        //-     strong کۆی گشتی تۆمار
                        //-   td(id="subtotal").right 0
                        tr(style="line-height: 10px;")
                          td.left
                            strong قەرزی پێشوو
                          td(id="olddebut").right="$"+profile[0]['remainedbalance'].toFixed(2)
                        //- tr
                        //-   td.left
                        //-     strong داشکان
                        //-   td.right
                        //-     input(type="number" id="discount" value="0")
                        tr(style="line-height: 10px;")
                          td.left
                            strong قەرزی ئێستا
                          td.right(id="total")="$"+0
                        tr(style="line-height: 10px;")
                          td.left
                            strong کۆی گشتی (دۆلار)
                          td.right
                            strong(id="finalPrice")="$"+0 
                  //- .col-7
                  //-   b تێبینی
                  //-   textarea.form-control.rounded-0(rows='5' cols='80' id='note')
                footer(style="position: fixed;padding: 10px 10px 0px 10px;bottom: 0;width: 100%;height: 30mm;")
                  hr
                  .row 
                    .col-5
                      -var today = new Date();
                      -var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                      -var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                      -var dateTime = date+' '+time;
                      span="    بەروار: "+dateTime.toLocaleString("en-GB")
                    .col-7
                      span="ناونیشان: "+"هەولێر - گەڕەکی عدالە - نزیک بانکی زانکۆ"

                // Modal
                .modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true' id='confirm-payment')
                  .modal-dialog.modal-dialog-centered.modal-s(role='document')
                    .modal-content
                      .modal-header دواخستنی پارەدان

                      .modal-body 
                        p بڕی پارەی دراو
                          input.form-control(name="debut" type='number' step='any' value='0' id="paidmoney")
                      .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') گەڕانەوە
                        a.btn.btn-success.btn-ok(onclick="payNowDebut()" data-dismiss='modal') رازیبوون
                each item,i in productNames
                  .modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true' id='confirm-product'+i)
                    .modal-dialog.modal-dialog-centered.modal-fullscreen(role='document')
                      .modal-content
                        .modal-header=item
                        thead.thead-dark
                          .container(id="result")
                        .modal-body(id='body-product'+i)
                        .modal-footer
                          button.btn.btn-default(type='button' data-dismiss='modal') گەڕانەوە
                          a.btn.btn-success.btn-ok(onclick="resultOfValidation(this)" data-dismiss='modal') زیادکردنی بەرهەم
              //- .card-footer(style='background-color: black;')



  script.
    // The code to open the dropdown 
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.custom-selection')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    // Get Model Table
    function getModel(val, event) {
      var model=$(val).attr('data-target');
      var idOfModel= model.match(/\d+/)[0]
      event.preventDefault();
      var data=$.ajax({
        type: 'POST',
        url: "/Products/Model",
        dataType: 'JSON',
        data:{  
          "itemModel":val.title
        },
        success: function(data){
          $('#body-product'+idOfModel).empty()
          $('#body-product'+idOfModel).append($("<table></table>").attr("id","datas"+idOfModel).attr('class',"table table-hover table-lg table-striped container-fluid table-responsive table-bordered"));
          $('#datas'+idOfModel).append($("<thead></thead>").attr('id','MainHeader'+idOfModel));
          $('#MainHeader'+idOfModel).append($("<tr></tr>").attr('style',"text-align:center").attr('id','header'+idOfModel));
          $('#header'+idOfModel).append($("<th></th>").attr('id',"selectAll"+idOfModel));
          $('#selectAll'+idOfModel).append($("<input></input>").attr('id','selected'+idOfModel).attr('type','checkbox').attr('style','zoom: 1.5;'));
          $('#header'+idOfModel).append($("<th></th>").text('بڕاندی بەرهەم'));
          $('#header'+idOfModel).append($("<th></th>").text('ناوی بەرهەم'));
          $('#header'+idOfModel).append($("<th></th>").text('جۆری بەرهەم'));
          $('#header'+idOfModel).append($("<th></th>").text('ڕەنگ'));
          $('#header'+idOfModel).append($("<th></th>").text('پێوانە'));
          $('#header'+idOfModel).append($("<th></th>").attr('style',"width:10%").text('ژمارە'));
          $('#header'+idOfModel).append($("<th></th>").attr('style',"width:10%").text('نرخ'));
          $('#header'+idOfModel).append($("<th></th>").text('ژمارەی بارهەڵگر'));
          $('#header'+idOfModel).append($("<th></th>").text('نرخی هاتوو'));
          $('#header'+idOfModel).append($("<th></th>").text('ID'));
          $('#datas'+idOfModel).append($("<tbody></tbody>").attr('id','MainBody'+idOfModel));
          //- 
          for (let i = 0; i < data.length; i++) {
            $('#MainBody'+idOfModel).append($("<tr></tr>").attr("id","rows"+idOfModel+i));
            $('#rows'+idOfModel+i).append($("<td></td>").attr('id','check'+idOfModel+i));
            $('#check'+idOfModel+i).append($("<input></input>").attr('id','checkstatus'+idOfModel+i).attr('type','checkbox').attr('value',data[i]['itemName']).attr('style','zoom: 1.5;'));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['itemModel']));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['itemName']));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['itemType']));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['color']));
            if(parseFloat(data[i]['weight'])>2.9 && parseFloat(data[i]['weight'])<5)
              $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['weight']+" "+data[i]['itemUnit']).attr('id',"unit"+idOfModel+i).attr('style',"background-color:#661E18;color:#FFFFFF"));
            else if(parseFloat(data[i]['weight'])>6.9 && parseFloat(data[i]['weight'])<10)
              $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['weight']+" "+data[i]['itemUnit']).attr('id',"unit"+idOfModel+i).attr('style',"background-color:#186628;color:#FFFFFF"));
            else if(parseFloat(data[i]['weight'])>=15)
              $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['weight']+" "+data[i]['itemUnit']).attr('id',"unit"+idOfModel+i).attr('style',"background-color:#182966;color:#FFFFFF"));
            else
              $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['weight']+" "+data[i]['itemUnit']).attr('id',"unit"+idOfModel+i));
            $('#rows'+idOfModel+i).append($("<td></td>").attr('id','quantity'+idOfModel+i));
            $('#quantity'+idOfModel+i).append($("<input></input>").attr('onclick','updateValue(this.parentNode.parentNode,event)').attr('type','number').attr('step','any').attr('name','totalQuan').attr('class','form-control').attr('id','totalQuan'+idOfModel+i));
            $('#rows'+idOfModel+i).append($("<td></td>").attr('id','priceRow'+idOfModel+i));
            $('#priceRow'+idOfModel+i).append($("<input></input>").attr('type','number').attr('name','priceOf').attr('id','priceOf'+idOfModel+i).attr('class','form-control').attr('value',data[i]['sellPriceMufrad']));
            $('#rows'+idOfModel+i).append($("<td></td>").attr('id','trailerRow'+idOfModel+i));
            $('#trailerRow'+idOfModel+i).append($("<select></select>").attr('name','trailerNumber').attr('id','trailerNumbers'+idOfModel+i).attr('class','form-control'));
            $('#trailerNumbers'+idOfModel+i).append($("<option></option>").attr('value',data[i]['trailerNumber']).text(data[i]['trailerNumber']));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['camePrice']));
            $('#rows'+idOfModel+i).append($("<td></td>").text(data[i]['_id']));
            }
            $('#datas'+idOfModel).DataTable({
              "paging": false
            });
          }
      })
    }

    // Update Value Regarding the Item Name
    function updateValue(val, event) {
      //- var itemModel=val.childNodes[1].innerHTML;
      //- var itemName=val.childNodes[2].innerHTML;
      //- var itemType=val.childNodes[3].innerHTML;
      //- var color=val.childNodes[4].innerHTML;
      //- var itemUnit=val.childNodes[5].innerHTML;
      //- var quantity=val.childNodes[6].firstChild.id;
      var priceOf=val.childNodes[7].firstChild.id;
      var trailerNumber=val.childNodes[8].firstChild.id;
      //- document.getElementById("productName").value = val;
      event.preventDefault();


      //- console.log(itemModel)
      //- console.log(itemName)
      //- console.log(itemType)
      //- console.log(color)
      //- console.log(itemUnit)
      //- console.log(val.childNodes[10].innerHTML)



      var data=$.ajax({
        type: 'GET',
        url: "/Profiles/"+val.childNodes[10].innerHTML,
        dataType: 'JSON',
        success: function(data){
          $("#"+trailerNumber).empty()
          for (let i = 0; i < data.length; i++) {
            if(parseFloat(data[i]['totalQuantity'])==0){
              continue;
            }else{
              if(data[i]['status']=="Recovered"){
                $("#"+trailerNumber).append($("<option></option>").attr("value",data[i]['trailerNumber']).text(data[i]['trailerNumber']+"-----ماوە:"+data[i]['totalQuantity']+"(گەڕاوە)"));
              }else{
                $("#"+trailerNumber).append($("<option></option>").attr("value",data[i]['trailerNumber']).text(data[i]['trailerNumber']+"-----ماوە:"+data[i]['totalQuantity']));
              //- document.getElementById(priceOf).value = data[i]['camePrice'];
                if("#{profile[0]['clientType']}"=="مفرد"){
                  document.getElementById(priceOf).value = data[i]['sellPriceMufrad'];
                }else if("#{profile[0]['clientType']}"=="محل"){
                  document.getElementById(priceOf).value = data[i]['sellPriceMahal'];
                }else if("#{profile[0]['clientType']}"=="وەستا"){
                  document.getElementById(priceOf).value = data[i]['sellPriceWasta'];
                }else if("#{profile[0]['clientType']}"=="وەکیل"){
                  document.getElementById(priceOf).value = data[i]['sellPriceWakil'];
                }else if("#{profile[0]['clientType']}"=="شركه‌"){
                  document.getElementById(priceOf).value = data[i]['sellPriceSharika'];
                }
              }
            }
            }
          }
      });

      //============================

      //============================
    }

    // Auto Find Datas in Input Form
    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("productName");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }

    //Pay All Money now
    function payNow(){
      objectData=document.getElementById("invoiceTable")
      var price=document.getElementById("total").innerHTML
      //Send to Database
        var data= $.ajax({
          type: 'POST',
          url: "/Products/#{profile[0]['_id']}/"+price+"/Recovered",
          dataType: 'JSON',
          data:getJSON(objectData),
          success: function(data){
            $('#newRecord').append($("<div></div>").attr("class","note note-success").text(data.responseText));
          },
          error: function(err){
            $('#newRecord').append($("<div></div>").attr("class","note note-danger").text(err.responseText));
          }
      })
    }

    //Pay All Money now
    function Qard(){
      objectData=document.getElementById("invoiceTable")
      var subtotal=document.getElementById('total').innerHTML;
      //- console.log(subtotal)
      //Send to Database
        var data= $.ajax({
          type: 'POST',
          url: "/Products/#{profile[0]['_id']}/Requests/Debut/"+subtotal,
          dataType: 'JSON',
          data:getJSON(objectData),
          success: function(data){
            $('#newRecord').append($("<div></div>").attr("class","note note-success").text(data.responseText));
          },
          error: function(err){
            $('#newRecord').append($("<div></div>").attr("class","note note-danger").text(err.responseText));
          }
      })
    }

    //Delete Table Content
    function deleteAllContent(){
      $('#invoiceTable tbody').empty();
    }

    //Pay as Debut
    function payNowDebut(){
      objectData=document.getElementById("invoiceTable")
      var paid=document.getElementById('paidmoney').value;

      //Send to Database
        var data= $.ajax({
          type: 'POST',
          url: "/Products/#{profile[0]['_id']}/Requests/"+paid,
          dataType: 'JSON',
          data:getJSON(objectData),
          success: function(data){
            $('#newRecord').append($("<div></div>").attr("class","note note-success").text(data.responseText));
          },
          error: function(err){
            $('#newRecord').append($("<div></div>").attr("class","note note-success").text(err.responseText));
          }
      })
    }

    // Parse HTML table element to JSON array of objects
    function getJSON(table) {  
      // thead
      const thead = Array.from(table.tHead.rows[0].children).map((el) => el.textContent);
      // tbody
      const tbody = Array.from(table.tBodies[0].rows).map((row) =>
        Array.from(row.cells).map((cell) => cell.textContent)
      );
      return {
        tbody
      };
    }




    //Section of Adding Selected items in Table
    function resultOfValidation(val){
      var table=val.parentNode.parentNode.childNodes[2].childNodes[0].childNodes[1].childNodes[1].childNodes;

      for (let i = 0; i < table.length; i++) {
        if(document.getElementById(table[i].childNodes[0].childNodes[0].id).checked==true){

          document.getElementById("dataofIncome").innerHTML = parseFloat(document.getElementById("dataofIncome").innerHTML)+parseFloat(table[i].childNodes[7].firstChild.value)*parseFloat(table[i].childNodes[6].firstChild.value)-parseFloat(table[i].childNodes[9].innerHTML)*parseFloat(table[i].childNodes[6].firstChild.value)+"TAN"+Math.random().toString(36).substring(7);

          $("#invoiceTable").find('tbody')
            .append($('<tr>').attr("id","itemNumber"+i)
              .append($('<td>')
                .text($('#invoiceTable>tbody>tr').length+1).attr('class','delete')
              ).append($('<td>')
                .text(table[i].childNodes[1].innerHTML)
              ).append($('<td>')
                .text(table[i].childNodes[2].innerHTML)
              ).append($('<td>')
                .text(table[i].childNodes[3].innerHTML)
              ).append($('<td>')
                .text(table[i].childNodes[4].innerHTML)
              ).append($('<td>')
                .text(table[i].childNodes[5].innerHTML)
              ).append($('<td>')
                .text(table[i].childNodes[6].firstChild.value).attr("contenteditable",'true').attr("id","quantityNumber"+i)
              ).append($('<td>')
                .text("$"+parseFloat(table[i].childNodes[7].firstChild.value).toFixed(2)).attr("contenteditable",'true').attr("id","priceNumber"+i)
              ).append($('<td>')
                .text("$"+parseFloat(parseFloat(table[i].childNodes[6].firstChild.value)*parseFloat(table[i].childNodes[7].firstChild.value)).toFixed(2)).attr('id',"macPrice"+i)
              ).append($('<td>')
                .text(table[i].childNodes[8].firstChild.value).attr("style","display:none")
              )
              //- .append($('<td>')
              //-   .append($('<a>')).append($("<i>")
              //-     .attr("title",'Edit').attr('class',"edit fas fa-edit amber-text disabled")
              //-   )
              //- )
            );
            var subtotal=document.getElementById('total').innerHTML.match(/(\d+)/);
            document.getElementById('total').innerHTML=(parseFloat(subtotal)+parseFloat(table[i].childNodes[6].firstChild.value)*parseFloat(table[i].childNodes[7].firstChild.value)).toFixed(2)
            document.getElementById('total').innerHTML="$"+document.getElementById('total').innerHTML
            document.getElementById('finalPrice').innerHTML=(parseFloat(parseFloat((document.getElementById("olddebut").innerHTML).match(/(\d+)/)))-parseFloat((document.getElementById('total').innerHTML).match(/(\d+)/)))
            document.getElementById('finalPrice').innerHTML="$"+document.getElementById('finalPrice').innerHTML
          }
          else{
            continue;
          }
      }
    }

    //Print Section
    function printDiv(divName) {
      var originalContents = document.body.innerHTML;
      //- 
      document.getElementById("targetedArea").setAttribute("style", "background: url('https://i.ibb.co/HhnspzY/Invoice-UI.jpg'); background-size: 200mm 276mm;");
      //- document.getElementById('targetedArea')
      var printContents = document.getElementById(divName).innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }

    //Update Price Field depending on Item Name
    function updatePrice(val, event) {
      var itemModel=val.childNodes[1].innerHTML;
      var itemName=val.childNodes[2].innerHTML;
      var itemType=val.childNodes[3].innerHTML;
      var color=val.childNodes[4].innerHTML;
      var itemUnit=val.childNodes[5].innerHTML;
      var quantity=val.childNodes[6].firstChild.id;
      var priceOf=val.childNodes[7].firstChild.id;
      var trailerNumber=val.childNodes[8].firstChild.id;
      event.preventDefault();

        var data=$.ajax({
          type: 'POST',
          url: "/Product/Trailers/#{profile[0]['clientType']}",
          dataType: 'JSON',
          data:{
            "itemModel":itemModel,
            "itemName":itemName,
            "itemType":itemType,
            "color":color,
            "itemUnit":itemUnit
          },
          success: function(data){
            //- console.log(data)

            }
        })
    }



    $(document).ready(function(){
      // Delete row on delete button click
      $(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
        document.getElementById('total').innerHTML=parseFloat(document.getElementById('total').innerHTML.replace("$", ''))-parseFloat(this.parentNode.childNodes[8].innerHTML.replace("$", ''))
        document.getElementById('finalPrice').innerHTML=parseFloat(document.getElementById('total').innerHTML.replace("$", ''))+parseFloat(parseFloat(document.getElementById("olddebut").innerHTML.replace("$", '')))
        });
          $('#invoiceTable').on('click', 'tbody tr', function(event) {
            var idnumber=$(this).attr('id').replace(/[^0-9]/g,'')
            var Price=document.getElementById('priceNumber'+idnumber).innerHTML.replace("$","");
            var Quantity=document.getElementById('quantityNumber'+idnumber).innerHTML;
            var OldMaxPrice=document.getElementById('macPrice'+idnumber).innerHTML.replace("$","");
            document.getElementById('macPrice'+idnumber).innerHTML=parseFloat(Price)*parseFloat(Quantity)
            document.getElementById('total').innerHTML=parseFloat(document.getElementById('total').innerHTML.replace("$",""))-parseFloat(OldMaxPrice)+(parseFloat(Price)*parseFloat(Quantity))
            document.getElementById('finalPrice').innerHTML=parseFloat(parseFloat(document.getElementById("olddebut").innerHTML.replace("$", '')))-parseFloat(document.getElementById('total').innerHTML.replace("$", ''))
          });

          $(document).on("click", "table tbody tr td", function(e) {
            var data = $(this).attr('id');
            if(data.includes("quantity")){
            //- alert (data.match(/\d+/)[0]);
            //- var data = $(this).attr('id').match(/\d+/)[0];
              document.getElementById("checkstatus"+data.match(/\d+/)[0]).checked = true;
            }
          }); 
          //- $('#invoiceTable').on('click', 'tbody tr td', function(event) {
          //-   var idnumber=$(this).attr('id').replace(/[^0-9]/g,'')
          //- });
    })

    //- $(document).on("click", "td", function(e) {
    //-   var data = $(this).attr('id').match(/\d+/)[0];
    //-   //- var value=$(this)
    //-   //- $("#check").prop("checked", true);

    //-   document.getElementById("checkstatus"+data).checked = true;

    //-   //- var requestedPacket=document.getElementById("totalQuan"+data).value;
    //-   //- var remainedPacket=document.getElementById("trailerNumbers"+data).value;
    //-   //- console.log("requestedPacket="+requestedPacket)
    //-   //- console.log("remainedPacket="+remainedPacket)

    //-   //- if(parseFloat(remainedPacket)<parseFloat(requestedPacket)){
    //-   //-   console.log("hey")
    //-   //-   document.getElementById("totalQuan"+data).classList.add("btn-outline-danger")
    //-   //-   //- $('#result').append($("<div></div>").attr("class","note note-danger mb-1").text("ناتوانیت بڕی دیاریکراو زیاتربێت لە بەرهەمی بەردەست لە باری دیاریکراو"));
    //-   //- }else{
    //-   //-   //- document.getElementById('result').remove()
    //-   //-   document.getElementById("totalQuan"+data).classList.remove("btn-outline-danger")
    //-   //- }
    //- }); 

    //- $(document).on("click", "td", function(e) {
    //-   var data = $(this).attr('id').match(/\d+/)[0];
    //- var value=$(this)
    //- $("#check").prop("checked", true);
    //- console.log(data)

    //- document.getElementById("checkstatus"+data).checked = true;

    //- var requestedPacket=document.getElementById("totalQuan"+data).value;
    //- var remainedPacket=document.getElementById("trailerNumbers"+data).value;
    //- console.log("requestedPacket="+requestedPacket)
    //- console.log("remainedPacket="+remainedPacket)

    //- if(parseFloat(remainedPacket)<parseFloat(requestedPacket)){
    //-   console.log("hey")
    //-   document.getElementById("totalQuan"+data).classList.add("btn-outline-danger")
    //-   //- $('#result').append($("<div></div>").attr("class","note note-danger mb-1").text("ناتوانیت بڕی دیاریکراو زیاتربێت لە بەرهەمی بەردەست لە باری دیاریکراو"));
    //- }else{
    //-   //- document.getElementById('result').remove()
    //-   document.getElementById("totalQuan"+data).classList.remove("btn-outline-danger")
    //- }
    //- }); 


    // Check For Packets
    //- $( "#perPacket" ).change(function() {

    //- });
