include ../Components/Header
block content
  br
  .container-fluid(id="printableArea")
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=title
      //- .container.col-md-4
      //-     .row.height.d-flex.justify-content-center.align-items-center
      //-         .col.md-6
      //-             .search-box
      //-                 .input-group
      //-                     input#search.form-control(type='text' placeholder='گەڕان بەپێی ژمارەی تۆمار')
      .span
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-secondary.shadow-sm.text-white.m-2(onclick="printDiv('printableArea')")
          i.fas.fa-file-invoice.fa-sm.text-white-50
          |  چاپکردن
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.text-white.m-2(href="/Profiles/Invoices/"+profile[0]['cutomerID']['_id'])
        //-   i.fas.fa-file-invoice.fa-sm.text-white-50
        //-   |  تۆمارەکان(بە وەصڵ)
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.text-white(href=Address+"/Clients/Register")
        //-     i.fas.fa-plus-square.fa-sm.text-white-50
        //-     |  Add New Product
    each item,i in records
      #accordionExample.accordion
        .accordion-item
          h2(id="heading"+i).accordion-header
            .row
              button.accordion-button(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                // Icon Letter One
                if item['items'][0]['status']=="Deleted Product"
                  div(style="text-align:center;")
                    span.icon.text-danger
                      i.fas.fa-minus-circle
                else if item['items'][0]['status']=="New Product"
                  div(style="text-align:center;")
                    span.icon.text-primary
                      i.fas.fa-clipboard-check
                else if item['items'][0]['status']=="Customer Request"
                  div(style="text-align:center;")
                    span.icon.text-info
                      i.fas.fa-user-check
                else if item['items'][0]['status']=="New Trailer"
                  div(style="text-align:center;")
                    span.icon.text-warning
                      i.fas.fa-truck-moving
                else if item['items'][0]['status']=="Recovered"
                  div(style="text-align:center;")
                    span.icon.text-danger
                      i.fas.fa-recycle
                else if item['items'][0]['status']=="Compensate"
                  div(style="text-align:center;")
                    span.icon.text-danger
                      i.fas.fa-money-bill-alt
                else if item['items'][0]['status']=="Partner Request"
                  div(style="text-align:center;")
                    span.icon.text-danger
                      i.fas.fa-money-bill-alt
                else
                  div(style="text-align:center;")
                    span.icon.text-danger
                      i.fas.fa-tasks

                if item['_id']['status']=="New Trailer"
                  .col-1="تۆماری ژمارە: "+item['items'][0]['trailerNumber']
                else if item['_id']['status']=="New Product"
                  .col-1="تۆماری ژمارە:0"
                else
                  .col-1="تۆماری ژمارە: "+item['_id']['recordCode']


                if item['items'][0]['status']=="Deleted Product"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: ڕەشکردنەوە
                else if item['items'][0]['status']=="New Product"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: بەرهەمی نوێ
                else if item['items'][0]['status']=="Customer Request"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: فرۆشتن
                else if item['items'][0]['status']=="New Trailer"
                  .col-md-2(style="text-align:center;") جۆری تۆمار:باری نوێ
                else if item['items'][0]['status']=="Recovered"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: بەرهەمی گەڕاوە
                else if item['items'][0]['status']=="Compensate"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: پارەدان
                else if item['items'][0]['status']=="Partner Request"
                  .col-md-2(style="text-align:center;") جۆری تۆمار: داواکاری پشکدار
                else
                  .col-md-2(style="text-align:center;")="جۆری تۆمار: "+item['items'][0]['status']
                .col-md-1="کۆی بەرهەم: "+item['count']
                .col-md-2="تێچووی تۆمار: "+item['amount'].toFixed(2)
                if item['profile'].length==0
                  .col-md-2
                else if item['items'][0]['status']=="Compensate"
                  .col-md-2.text-left="کڕیار: "+item['profile'][0]['clientName']
                else
                  .col-md-2.text-left="کڕیار: "+item['profile'][0]['clientName']+"/"+item['items'][0]['personName']
                //- if item['items'][0]['note']==undefined
                //-   .col-md-2
                //- else 
                //-   .col-md-2="تێبینی: "+item['items'][0]['note']



                .col-md-3="بەروار: "+item['items'][0]['createdAt'].toLocaleString("en-GB")
          .accordion-collapse.collapse.hide(aria-labelledby="heading"+i data-mdb-parent='#accordionExample' id="collapse"+i)
            .accordion-body
              .container-fluid.table-responsive
                table(id="clientTable").table.table-hover.table-sm.dt-responsive.table-striped
                  if item['_id']['status']=="Compensate"
                    thead(style="font-size: 12px;font-weight:bold;text-align:center; background-color: #3f87a6;color: #fff;" )
                      tr(scope='col' style="text-align:center; font-size:90%")
                        th #
                        th قەرزی کۆن
                        th بڕی پارەی دراو
                        th داشکان
                        th بڕی پارەی دراو (دوای داشکان)
                        th بەروار 
                        th لەلایان 
                    tbody
                      if item['_id']['status']=="Compensate"
                        td=1
                        td(style="text-align:center;")="$ "+item['items'][0]['oldDebut'].toFixed(2)
                        td(style="text-align:center;")="$ "+item['items'][0]['totalPrice'].toFixed(2)
                        td(style=`text-align:center;`)="% "+parseFloat(item['items'][0]['discount']).toFixed(2)
                        td(style="text-align:center;")="$ "+item['items'][0]['prepaid'].toFixed(2)
                        td(style="text-align:center;")=item['items'][0]['createdAt'].toLocaleString("en-GB")
                        td(style="text-align:center;")=item['items'][0]['addedBy']
                  else 
                    thead(style="font-size: 12px;font-weight:bold;text-align:center; background-color: #3f87a6;color: #fff;" )
                      tr(scope='col' style="text-align:center; font-size:90%")
                        th #
                        th بڕاندی بەرهەم
                        th ناوی بەرهەم
                        th بڕی پێوانە
                        th ڕەنگ
                        th بڕ
                        th باری ئێستا
                        th کۆی گشتی نرخ
                        th تێبینی 
                        th بەروار 
                        th لەلایان 
                    tbody
                      each product,x in item['data']
                        each product,k in item['data']
                          //- - console.log(x+"//Invoice:"+item['items'][x]['productID'])
                          //- - console.log(k+"//Product:"+product['_id'])
                          if item['items'][x]['productID'].equals(product['_id'])
                            tr
                              td=x
                              td=product['itemModel']
                              td=product['itemName']
                              td(style="text-align:center;")=product['weight']+product['itemUnit']
                              td(style="text-align:center;")=product['color']
                              td(style="text-align:center;")=item['items'][x]['totalQuantity']
                              td(style="text-align:center;")=item['items'][x]['status']
                              if item['items'][x]['moneyStatus']=="Discount Invoice"
                                td(style="text-align:center;")="$ "+parseFloat(item['items'][x]['totalPrice']).toFixed(2) +" *"+parseFloat(item['items'][x]['paidMoney']).toFixed(2)
                              else 
                                td(style="text-align:center;")="$ "+parseFloat(item['items'][x]['totalPrice']).toFixed(2)
                              td(style="text-align:center;")=item['items'][x]['note']
                              td(style="text-align:center;")=item['items'][x]['createdAt'].toLocaleString("en-GB")
                              td(style="text-align:center;")=item['items'][x]['addedBy']
    br
    table.table.table-hover.table-sm.dt-responsive.table-striped.table-bordered
      thead
        tr
          th(style="text-align:center; font-size:3 rem;font-weight:bold;width: 300px").bg-dark.text-light کۆی گشتی پارەی هاتوو
          th="$ 0"
        tr
          th(style="text-align:center; font-size:3 rem;font-weight:bold").bg-dark.text-light کۆی گشتی پارەی گەڕاوە
          th="$ 0"
        //- tr
        //-     th(style="text-align:center; font-size:3 rem;font-weight:bold").bg-dark.text-light کۆی گشتی پارەی گەڕاوە
        //-     th=(returnedmoney[0]['amount']).toFixed(2)
        tr
          th(style="text-align:center; font-size:3 rem;font-weight:bold").bg-dark.text-light کۆی گشتی کارەکان
          th="$ 0"
      //- if profiles[i]['cutomerID']==undefined 
      //-   td(style="text-align:center;")
      //- else 
      //-   td(style="text-align:center;")=profiles[i]['cutomerID']['clientName']+"/"+profiles[i]['cutomerID']['companyName']
