include ../Components/Header
block content
    br
    .container-fluid
        // Page Heading
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="note note-danger") #{error.msg}
        //- .d-sm-flex.align-items-left.justify-content-between.mb-4
        //-   h1.h3.mb-0.text-gray-800=title
        //-   .span
        //-     //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.mr-2(id="backup" onclick="backupAll()")
        //-     //-   i.fas.fa-database.fa-sm.text-white-50
        //-     //-   |  Backup Hotspots
        //-     a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white(href="/Profiles/AddNew")
        //-       i.fas.fa-plus-square.fa-sm.text-white-50
        //-       |  زیادکردنی کڕیاری نوێ
        .row
            #accordionExample.accordion
                each item,i in trailers
                    .accordion-item
                        h2(id="heading"+i).accordion-header
                            .row
                                button.accordion-button(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                                    .col-md-1="بارهەڵگری ژمارە: "+item['_id']['trailerNumber']
                                    .col-md-1="کۆی بەرهەم: "+item['count']
                                    if item['data'][0]==undefined
                                     .col-md-1="کۆمپانیا: "+item['data'][0]
                                    else 
                                     .col-md-1="کۆمپانیا: "+item['data'][0]['manufacturerCompany']
                                    //- .col-md-2="تێچووی بارهەڵگر: "+item['items'][0]['cost']
                                    .col-md-2="کۆی گشتی نرخ: "+item['amount'].toFixed(2)
                                    .col-md-3="بەروار: "+item['items'][0]['createdAt'].toLocaleString("en-GB")
                                    .col-md-2 
                                        a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Trailers/"+item['_id']['trailerNumber']+"/Invoices")
                                            span.icon.text-white-50
                                                i.fas.fa-print
                                        a.btn.btn-sm.btn-primary.m-2.disabled( title="زیادکردنی بەرهەم" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Invoices/NewItem/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID'])
                                            span.icon.text-white-50
                                                i.fas.fa-plus-square
                        .accordion-collapse.collapse.hide(aria-labelledby="heading"+i data-mdb-parent='#accordionExample' id="collapse"+i)
                            .accordion-body
                                .container-fluid.table-responsive
                                    table.table.table-hover.table-sm.dt-responsive.table-striped.table-bordered
                                        thead(style="font-size: 12px;font-weight:bold;text-align:center; background-color: #3f87a6;color: #fff;" )
                                            tr(scope='col' style="text-align:center; font-size:90%")
                                                th(scope='col') #
                                                th(scope='col') زانیاری بەرهەم
                                                //- th(scope='col') ناوی بەرهەم
                                                //- th(scope='col') کۆمپانیای وەبەرهێن
                                                //- th(scope='col') پێوانەی تاک
                                                //- th(scope='col') جۆری بەرهەم
                                                //- th(scope='col') شوێنی بەکارهێنان
                                                //- th(scope='col') بڕی پێوانە
                                                th(scope='col') نرخی هاتوو
                                                th(scope='col') نرخی کۆمپانیا
                                                th(scope='col') نرخی جیاوازی
                                                th(scope='col') بڕی هاتوو
                                                th(scope='col') ڕەنگ
                                                th(scope='col') کۆی نرخ(بێ تێچوو)
                                                th(scope='col') کۆی گشتی
                                                th(scope='col') چالاکی


                                        tbody
                                            each product,j in item['data']
                                                each product,k in item['data']
                                                    if item['items'][j]['productID'].equals(product['_id'])
                                                        tr
                                                            -var index=j+1
                                                            tr(style="font-weight:bold; text-align:center; font-size:90%")
                                                                td=index
                                                                td=product['itemModel'] +" / "+product['itemName']+" / "+product['itemUnit']+" / "+product['itemType']
                                                                //- td=
                                                                //- td=product['manufacturerCompany']
                                                                //- td=product['itemUnit']
                                                                //- td=product['itemType']
                                                                //- td=product['usedIn']
                                                                //- td=product['weight']
                                                                td=item['items'][j]['camePrice'].toFixed(2)
                                                                td=item['items'][j]['sellPrice'].toFixed(2)
                                                                td=(item['items'][j]['sellPrice']-item['items'][j]['camePrice']).toFixed(2)
                                                                td=item['items'][j]['totalQuantity']
                                                                td=product['color']
                                                                td=(parseFloat(item['items'][j]['totalQuantity'])*parseFloat(item['items'][j]['camePrice'])).toFixed(2)
                                                                td=(parseFloat(item['items'][j]['totalQuantity'])*parseFloat(item['items'][j]['sellPrice'])).toFixed(2)
                                                                td
                                                                    a.btn.btn-sm.btn-warning.m-2.col-md-4(style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" title="نوێکردنەوەی بەرهەم" href="/Trailers/Modification/"+item['_id']['trailerNumber']+"/"+item['items'][j]['_id'])
                                                                        span.icon.text-white-50
                                                                            i.fas.fa-pencil-alt
                                                                    a.btn.btn-sm.btn-danger.m-2.col-md-4(style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" title="ڕەشکردنەوەی بەرهەم" href="/Trailers/Delete/"+item['_id']['trailerNumber']+"/"+item['items'][j]['_id'])
                                                                        span.icon.text-white-50
                                                                            i.fas.fa-trash
