include ../Components/Header
block content
    br
    .container-fluid(id="printableArea")
        // Page Heading
        .d-sm-flex.align-items-left.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 بەرهەمە فرۆشراوەکان 
            //- .container.col-md-4
            //-     .row.height.d-flex.justify-content-center.align-items-center
            //-         .col.md-6
            //-             .search-box
            //-                 .input-group
            //-                     input#search.form-control(type='text' placeholder='گەڕان بەپێی ژمارەی تۆمار')
            //- .span
            //-     a.d-none.d-sm-inline-block.btn.btn-sm.btn-secondary.shadow-sm.text-white.m-2(onclick="printDiv('printableArea')")
            //-         i.fas.fa-file-invoice.fa-sm.text-white-50
            //-         |  چاپکردن
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-success.shadow-sm.text-white.m-2(onclick="HtmlTOExcel('xlsx')")
              i.fas.fa-file-invoice.fa-sm.text-white-50
              |  ئێکسل
            //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.text-white(href=Address+"/Clients/Register")
            //-     i.fas.fa-plus-square.fa-sm.text-white-50
            //-     |  Add New Product
        .container
            table.table.table-hover.table-sm.dt-responsive.table-striped.table-bordered(id="products")
                thead(style="font-size: 12px;font-weight:bold;text-align:center; background-color: #3f87a6;color: #fff;" )
                    tr(scope='col' style="text-align:center; font-size:90%")
                        th(style="width:2%") #
                        th(style="width:10%") کۆمپانیای وەبەرهێن
                        th(style="width:10%") بەرهەم
                        th(style="width:15%") بڕی فرۆشراو
                        //- th(style="width:10%") بەروار
                        //- th تێبینی


                tbody
                    each item,i in invoices
                        tr(scope='col' style="text-align:center; font-size:90%")
                            td=i+1
                            if item['data'][0]==undefined
                                td
                                td
                            else
                                td=item['data'][0]['manufacturerCompany']
                                td(style="text-align:center;")=item['data'][0]['itemModel']+" / "+item['data'][0]['itemName']+" / "+item['data'][0]['color']+" / "+item['data'][0]['weight']
                            //- td(style=`text-align:center;` id="Date")=0
                            td(style=`text-align:center;` id="Date")=item['total']
                            //- td(style=`text-align:center;` id="Date")=item['data'][0]['createdAt'].toLocaleString()

                            //- td(style=`text-align:center;` id="Date")=item['items'][0]['createdAt'].toLocaleString("en-GB")
    script.
        $(document).ready(function() {
        $('#products').DataTable({
            "pageLength": 100
        }
        );
        } );
        function HtmlTOExcel(type, fun, dl) {
            var elt = document.getElementById('products');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fun || ('Products.' + (type || 'xlsx')));
        }